  .image-animation-enter {
    opacity: 0;
  }
  
  .image-animation-enter-active {
    opacity: 1;
    transition: opacity 600ms;
    
  }
  
  .image-animation-exit {
    opacity: 1;
  }
  
  .image-animation-exit-active {
    display: none;
  }