Navbar.css .mobile-menu .botonMenu {
    display: none;
    /* Ocultar por defecto en todos los tamaños de pantalla */
}

.header .botonMenu {
    display: none !important;
    /* Alineación horizontal */
    margin-left: 10px;
    /* Ajusta el valor según sea necesario */
}


/* Mostrar el elemento en pantallas de 951px o menos */
@media (max-width: 992px) {
    .header .botonMenu {
        display: block !important;
        /* Usa !important para forzar la prioridad */
    }

    .site-top-icons ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        margin: 0;
    }

    .site-top-icons ul li {
        margin-left: 10px;
    }
}

/* Estilos para modo móvil */
@media (max-width: 768px) {
    .site-top-icons ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        margin: 0;
    }

    .site-top-icons ul li {
        margin-left: 10px;
    }

}

/* ajusta el tamaño del componente desplegable */
.mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 80%;
    /* Adjust the width as needed */
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
    z-index: 1000;
}

.mobile-menu.active {
    right: 0;
}

/* Estilo para quitar la decoración de enlace y cambiar el color del texto */
.menu-link {
    text-decoration: none;
    color: black;
    /* Puedes ajustar el color a tu preferencia */
}


.site-menu-mobile li {
    list-style: none;
    margin: 0;
    /* Asegúrate de que no haya margen */
    padding: 0;
    /* Asegúrate de que no haya relleno */
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 15px;
}


.textLogin {
    display: inline-block;
    /* Mostrar el texto */
    vertical-align: middle;
    margin-bottom: 3px;
    /* Agregar un espacio entre el ícono y el texto */
}

.menuOpcion {
    display: inline-block;
    /* Mostrar el texto */
    vertical-align: middle;
}

/* Media query para pantallas pequeñas */
@media (max-width: 992px) {
    .textLogin {
        display: none;
        /* Ocultar el texto */
    }

    .menuOpcion {
        display: none;
    }
}