/* Navbar.css */

.mobile-menu {
    display: none;
    /* Ocultar por defecto en todos los tamaños de pantalla */
}

/* Estilos para modo móvil */
@media (max-width: 768px) {
    .site-top-icons ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        margin: 0;
    }

    .site-top-icons ul li {
        margin-left: 10px;
    }

}


.mobile-menu {
    display: none;
    transition: transform 0.3s ease-in-out;
}

.mobile-menu.active {
    display: block;
    transform: translateX(0%);
}

.mobile-menu-container {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 16, 16);
    z-index: 1000;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: left 0.3s ease-in-out;
}

.mobile-menu.active .mobile-menu-container {
    left: 0;
}

.mobile-menu-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
    z-index: 999;
}

.mobile-menu-overlay.active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in-out, visibility 0s linear;
}

.mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 80%;
    /* Adjust the width as needed */
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
    z-index: 1000;
}

.mobile-menu.active {
    right: 0;
}

/* Estilo para quitar la decoración de enlace y cambiar el color del texto */
.menu-link {
    text-decoration: none;
    color: black; /* Puedes ajustar el color a tu preferencia */
}


.site-menu-mobile li {
    list-style: none;
    margin: 0; /* Asegúrate de que no haya margen */
    padding: 0; /* Asegúrate de que no haya relleno */
    text-transform: uppercase; 
    font-size: 20px; 
    margin-bottom: 15px;
}
