.hover-card-header {
    position: relative;
    overflow: hidden;
}

.hover-card-header::before {
    content: "Cambia tu foto";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 35px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: inherit;
    opacity: 0;
    transition: opacity 0.3s ease, background-color 0.3s ease;
    background-image: url('../../assets/img/camera.svg');
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: center 30px;
    /* Ajusta la posición vertical de la imagen */
}

.hover-card-header:hover::before {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.7);
}