body::-webkit-scrollbar{
    width: 10px;     /* Tamaño del scroll en vertical */
    height: 10px;    /* Tamaño del scroll en horizontal */
    /* display: none;  Ocultar scroll */
}

body::-webkit-scrollbar-thumb{
    background: rgb(141, 138, 138);
    border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover{
    background: rgb(141, 138, 138);;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

body::-webkit-scrollbar-thumb:active{
    background-color: #3f3f3f;
}

body::-webkit-scrollbar-track{
    background: #e1e1e1;
    border-radius: 4px;
}

body::-webkit-scrollbar-track:hover,
body::-webkit-scrollbar-track:active {
    background: #d4d4d4;
}